.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  margin-right: 16px;
  width: 20%;
  height: 100vh;
  background-color: #333;
}

.autocompleteWrapper {
  width: 100%;
  height: 100%;
}

.autocompleteInput {
  width: 96%;
  margin: 84px auto 0 auto;
  padding: 16px;
  display: block;
  border: 1px solid yellow;
}

.suggestionWrapper {
  margin: 0;
  width: 96%;
  overflow-x: hidden;
  list-style: none;
  margin: 0 auto;
  display: block;
  padding: 4px;
}

.suggestionWrapper > li {
  padding: 8px 4px;
  background-color: lightcoral;
  margin: 4px 0;
  cursor: pointer;
}


/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
} */

.main {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1.5rem;
  width: 100%;
  font-weight: 600;
}
.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.input[type='file']::file-selector-button {
  background-color: #fff;
  border: 1px solid #000000;
  padding: 0.625rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.button {
  border-radius: 4rem;
  background-color: #000000;
  color: #ffffff;
  padding: 1rem 1rem;
  transition: 0.1s ease-in-out;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
  outline: 1px solid #000000;
}

.input {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}
